* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 3em;
    text-align: center;
    gap: 4em;
    background-color: #212121;
    font-family: Inter, sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}

#heading {
    color: whitesmoke;
    font-family: "Bungee Inline", cursive;
}

.sub-heading {
    font-style: italic;
    color: white;
    margin-bottom: 3em;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 1.25em;
    gap: 0.5em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

#color-picker {
    border: none;
    height: 42px;
    min-width: 50px;
}

#color-scheme-selector {
    border: 2px solid lightgrey;
    border-radius: 4px;
    height: 42px;
    flex: 1;
    padding: 0 0.5em;
    font-family: inherit;
    padding-right: 0.5em;
}

#color-scheme {
    border: 2px solid lightgrey;
    font-family: inherit;
    padding: 0 0.5em;
    min-height: 43px;
    text-align: center;
    font-size: 0.7rem;
    background-color: white;
    border-radius: 5px;
}

#color-scheme:hover {
    opacity: 0.8;
    cursor: pointer;
}

#color-scheme:active {
    transform: scale(0.95);
}

/* COLOR CONTAINER */
.color-container {
    display: flex;
    padding: 0 0.2em;
    background-color: white;
}

.color-container div {
    width: 40%;
    min-height: 40vh;
}

.color-container-1 {
    background-color: turquoise;
}

.color-container-2 {
    background-color: coral;
}

.color-container-3 {
    background-color: grey;
}

.color-container-4 {
    background-color: pink;
}

.color-container-5 {
    background-color: red;
}

/* FOOTER */

.footer {
    padding: 1.3em 0;
    display: flex;
    background-color: white;
    color: black;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.footer div {
    font-size: 0.7rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > div:hover {
    cursor: pointer;
    opacity: 0.5;
}

.footer > div:active {
    transform: scale(0.95);
}
