* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 3em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 4em;
    background-color: #212121;
    font-family: Inter, sans-serif;
}

#heading {
    color: whitesmoke;
    font-family: "Bungee Spice", fantasy;
}

.sub-heading {
    font-style: italic;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
}

header {
    padding: 1.4em 2em;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1em;
}

#color-picker {
    height: 3em;
    width: 4em;
    border: none;
}

#color-scheme-selector {
    padding: 1em;
    border: 2px solid lightgrey;
    border-radius: 4px;
    font-size: 0.8rem;
    font-family: inherit;
    padding-right: 1em;
}

#color-scheme {
    border: 2px solid lightgrey;
    font-family: inherit;
    text-align: center;
    font-size: 0.8rem;
    padding: 1.1em;
    background-color: white;
    border-radius: 5px;
}

#color-scheme:hover {
    opacity: 0.8;
    cursor: pointer;
}

#color-scheme:active {
    transform: scale(0.95);
}

/* COLOR CONTAINER */
.color-container {
    display: flex;
    padding: 0 0.2em;
    background-color: white;
}

.color-container div {
    width: 20%;
    min-height: 40vh;
}

.color-container-1 {
    background-color: turquoise;
}

.color-container-2 {
    background-color: coral;
}

.color-container-3 {
    background-color: grey;
}

.color-container-4 {
    background-color: pink;
}

.color-container-5 {
    background-color: red;
}

/* FOOTER */

.footer {
    padding: 1.3em 0;
    display: flex;
    background-color: white;
    color: black;
}

.footer div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > div:hover {
    cursor: pointer;
    opacity: 0.5;
}

.footer > div:active {
    transform: scale(0.95);
}
